@media (max-width: 375px) {
    header {
        width: 375px;
    }
    header .header_wrapper {
        width: 100%;
        gap: 0;
    }
    header .header_wrapper .logo {
        margin: 24px 0 0 10px;
    }
    header .header_wrapper .header_buttons {
        width: 201px;
        gap: 10px;
        margin-right: 7px;
    }
    header .header_wrapper .header_buttons .join_button a {
        width: 100px;
        height: 34px;
    }
    main {
        width: 360px;
    }
    main .top {
        width: 100%;
        height: 190px;
        margin: 56px 0 0 3px;
    }
    main .top h1 {
        font-size: 28px;
        line-height: 39px;
        margin-bottom: 10px;
    }
    main .bottom {
        width: 100%;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        gap: 10px;
    }
    main .bottom .cardiogramma, main .bottom .stetoscope, main .bottom .table {
        margin: 0 auto;
    }
}
@media (min-width: 376px) and (max-width: 520px) {
    header .header_wrapper .logo {
        margin: 24px 0 0 10px;
    }
    header .header_wrapper .header_buttons {
        width: 201px;
        gap: 10px;
        margin: 0;
    }
    header .header_wrapper .header_buttons .join_button a {
        width: 106px;
    }
    main .top h1 {
        width: 400px;
        margin: 0 auto;
    }
    main .top .buttons {
        width: 435px;
    }
}