@font-face {
    font-family: "Monteserrat-regular";
    src: url("./fonts/Montserrat/static/Montserrat-Regular.ttf");
}
@font-face {
    font-family: "Monteserrat-bold";
    src: url("./fonts/Montserrat/static/Montserrat-Bold.ttf");
}
@font-face {
    font-family: "OpenSans";
    src: url("./fonts/Open_Sans/static/OpenSans-Regular.ttf");
}
.main_text_regular {
    font-family: "Monteserrat-regular";
    font-weight: 600;
}

.main_text_bold {
    font-family: "Monteserrat-bold";
}

.second_text {
    font-family: "OpenSans";
    font-weight: 400;
}

body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0;
    margin: 0;
}

#root {
    width: 100%;
}

.wrapper {
    max-width: 100%;
    width: 1440px;
    height: 100%;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: black;
}

header {
    width: 100%;
    height: 72px;
    border-bottom: 1px solid black;
}
header .header_wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    max-width: 1440px;
    height: 100%;
    margin: 7px auto 0 auto;
}
header .header_wrapper .logo {
    width: 54px;
    height: 23px;
    margin: 24px 0 0 72px;
    background-image: url("./images/logo.svg");
}
header .header_wrapper .header_buttons {
    width: 330px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-right: 66px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 60px;
}
header .header_wrapper .header_buttons .contacts_button a {
    font-weight: 600;
}
header .header_wrapper .header_buttons .join_button {
    margin-bottom: 5px;
}
header .header_wrapper .header_buttons .join_button a {
    display: block;
    color: #FF685B;
    width: 180px;
    height: 35px;
    font-size: 20px;
    text-align: center;
    line-height: 35px;
    border: 2px solid #FF685B;
    border-radius: 7px;
}

main {
    max-width: 1440px;
    margin: 0 auto;
}
main .top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 35px;
    max-width: 1046px;
    height: 247px;
    margin: 96px auto 80px auto;
}
main .top h1 {
    font-size: clamp(28px, 5vw, 58px);
    font-weight: 700;
    line-height: 80px;
    letter-spacing: 0.2px;
    margin: 0;
}
main .top .buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 300px;
    height: 52px;
}
main .top .buttons .join_button {
    width: 130px;
    height: 52px;
    background-color: #FF685B;
    border-radius: 5px;
    text-align: center;
    line-height: 52px;
}
main .top .buttons .join_button a {
    display: block;
    width: 128px;
    height: 52px;
    color: white;
}
main .top .buttons .contacts_button {
    width: 160px;
    height: 52px;
    border: 1px solid #FF685B;
    border-radius: 5px;
    text-align: center;
    line-height: 52px;
    margin: 0 10px;
}
main .top .buttons .contacts_button a {
    font-weight: 700;
    color: #FF685B;
}
main .bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 30px;
    -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
    max-width: 1046px;
    height: 100%;
    margin: 0 auto;
}
main .bottom .cardiogramma, main .bottom .stetoscope, main .bottom .table {
    width: 328px;
    height: 268px;
    -webkit-box-shadow: 0px 13px 19px 0px rgba(0, 0, 0, 0.0705882353);
            box-shadow: 0px 13px 19px 0px rgba(0, 0, 0, 0.0705882353);
}
main .bottom .cardiogramma_img {
    width: 72px;
    height: 72px;
    border-radius: 50%;
    background: no-repeat 50% 50%;
    background-image: url("./images/heart.svg");
    background-color: #E74040;
    margin: 50px 0 0 40px;
}
main .bottom .stetoscope_img {
    width: 72px;
    height: 72px;
    border-radius: 50%;
    background: no-repeat 50% 50%;
    background-image: url("./images/stetoscope.svg");
    background-color: #E74040;
    margin: 50px 0 0 40px;
}
main .bottom .table_img {
    width: 72px;
    height: 72px;
    border-radius: 50%;
    background: no-repeat 50% 50%;
    background-image: url("./images/table.svg");
    background-color: #E74040;
    margin: 50px 0 0 40px;
}
main .text_block {
    width: 180px;
    height: 76px;
    margin: 0px 40px;
}
main .text_block .border {
    width: 50px;
    border: 1px solid #E74040;
}
main .text_block .main_text_regular {
    height: 13px;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0.5px;
}
main .text_block .second_text {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.5px;
    margin-top: 20px;
}