@font-face {
    font-family: "Monteserrat-regular";
    src: url("./fonts/Montserrat/static/Montserrat-Regular.ttf");
}
@font-face {
    font-family: "Monteserrat-bold";
    src: url("./fonts/Montserrat/static/Montserrat-Bold.ttf");
}
@font-face {
    font-family: "OpenSans";
    src: url("./fonts/Open_Sans/static/OpenSans-Regular.ttf");
}
.main_text_regular {
    font-family: "Monteserrat-regular";
}

.main_text_bold {
    font-family: "Monteserrat-bold";
}

.second_text {
    font-family: "OpenSans";
}

body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
}

header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 1440px;
    height: 72px;
    margin-top: 7px;
    border-bottom: 1px solid black;
}
header .logo {
    width: 54px;
    height: 23px;
    margin: 24px 0 0 72px;
    background-image: url("./images/logo.svg");
}
header .header_buttons {
    width: 460px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
header .header_buttons .contacts_button a {
    font-weight: 600;
}
header .header_buttons .join_button {
    margin-bottom: 5px;
}
header .header_buttons .join_button a {
    display: block;
    color: #FF685B;
    width: 180px;
    height: 35px;
    font-size: 20px;
    text-align: center;
    line-height: 35px;
    border: 2px solid #FF685B;
    border-radius: 7px;
}

main .top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 35px;
    width: 1045px;
    height: 247px;
    margin: 0 auto;
    margin-top: 96px;
}
main .top h1 {
    font-size: 58px;
    font-weight: 700;
    line-height: 80px;
    letter-spacing: 0.2px;
    margin: 0;
}
main .top .buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 300px;
    height: 52px;
}
main .top .buttons .join_button {
    width: 130px;
    height: 52px;
    background-color: #FF685B;
    border-radius: 5px;
    text-align: center;
    line-height: 52px;
}
main .top .buttons .join_button a {
    width: 128px;
    height: 52px;
    color: white;
}
main .top .buttons .contacts_button {
    width: 160px;
    height: 52px;
    border: 1px solid #FF685B;
    border-radius: 5px;
    text-align: center;
    line-height: 52px;
    margin: 0 10px;
}
main .top .buttons .contacts_button a {
    font-weight: 700;
    color: #FF685B;
}